@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2';
  src: url('./Exo2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
