/*
Brown Rust
#9E5635

Cedar
#422316

Sandy brown
#EF915B

Redwood
#e16b31*/

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-background: #7c120a;
  --color-background2: #8a1226;
  --color-background-btn: #f3f3f3;
  --color-accent: #ef915b;
  --color-notice: #e16b31;
  --color-brand: #9e5635;
  --color-foreground: #f0eeed;
  --color-secondary: #080830;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-family: system-ui !important;
  letter-spacing: 0px !important;
  text-align: center;
  overflow-x: hidden !important;
  position: 'relative';
  color: #fff;
  background: #fbd1c3;
  background-size: 400% 400%;
  font-size: '16px';
}

.contentbox p {
  font-family: system-ui !important;
  letter-spacing: 0 !important;
  line-height: 27px !important;
}

.contentbox h1 {

  letter-spacing: 0 !important;
}

.input-box {
  background: linear-gradient(308deg, rgb(255 255 255) 0%, rgb(255 255 255) 63%, rgb(255 255 255) 83%, rgb(255 255 255) 100%);
  border-radius: 1.5em;
  border: solid 3px #bc7552;
  box-shadow: none;
  border-radius: 15px;
  display:inline-block
}

.input-box span.MuiSlider-rail{
  background-color: #e16b31;
}

.input-box span.MuiSlider-track{
  background-color: #e16b31;
}

.input-box span.MuiSlider-thumb{
  background-color: #f2580b;
}

.datetime-box {
  background: linear-gradient(308deg, rgb(255 255 255) 0%, rgb(255 255 255) 63%, rgb(255 255 255) 83%, rgb(255 255 255) 100%);
  border-radius: 10px;
}

h1,
p {
  margin: 0;
}

* {

  font-family: 'Exo2' !important;
  letter-spacing: -0.05em !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header {
  background: #bb5d5d;
  clear: both;
  width: 100%;
  height: 80px;
  padding: 6px 0px;
}

.container {
  margin: 0px auto;
}

.description-box{
  text-align: 'left !important';
}