/*
Brown Rust
#9E5635

Cedar
#422316

Sandy brown
#EF915B

Redwood
#e16b31*/

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-background: #7c120a;
  --color-background2: #8a1226;
  --color-background-btn: #f3f3f3;
  --color-accent: #ef915b;
  --color-notice: #e16b31;
  --color-brand: #9e5635;
  --color-foreground: #f0eeed;
  --color-secondary: #080830;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-family: system-ui !important;
  letter-spacing: 0px !important;
  text-align: center;
  overflow-x: hidden !important;
  position: 'relative';
  color: #fff;
  background: #fbd1c3;
  background-size: 400% 400%;
  font-size: '16px';
}

.contentbox p {
  font-family: system-ui !important;
  letter-spacing: 0 !important;
  line-height: 27px !important;
}

.contentbox h1 {

  letter-spacing: 0 !important;
}

.input-box {
  background: linear-gradient(308deg, rgb(255 255 255) 0%, rgb(255 255 255) 63%, rgb(255 255 255) 83%, rgb(255 255 255) 100%);
  border-radius: 1.5em;
  border: solid 2px #ffffff;
  box-shadow: 1px 2px 2px #e7b1b1;
  border-radius: 15px;
}

.css-gnxslw-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
  background: linear-gradient(308deg, rgb(255 255 255) 0%, rgb(255 255 255) 63%, rgb(255 255 255) 83%, rgb(255 255 255) 100%);
  border: solid 2px #ffffff !important;
}

.css-8zubdv-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
  background: linear-gradient(308deg, rgb(255 255 255) 0%, rgb(255 255 255) 63%, rgb(255 255 255) 83%, rgb(255 255 255) 100%);
  border: solid 2px #ffffff !important;
}

.datetime-box {
  background: linear-gradient(308deg, rgb(255 255 255) 0%, rgb(255 255 255) 63%, rgb(255 255 255) 83%, rgb(255 255 255) 100%);
  border-radius: 10px;
}

h1,
p {
  margin: 0;
}

* {

  font-family: 'Exo2' !important;
  letter-spacing: -0.05em !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-es2b75-MuiSvgIcon-root {
  left: 28px !important;
  top: 21px !important;
  color: #5c5858 !important;
}

.css-ymdnc8-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
  border: none !important;
}

.css-h3eu0c-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
  border: none !important;
  background: #fff !important;
}

.css-1hsqu8b-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
  border: none !important;
}

.css-4tsb0m-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
  background: linear-gradient(308deg, rgb(255 255 255) 0%, rgb(255 255 255) 63%, rgb(255 255 255) 83%, rgb(255 255 255) 100%);
  border: solid 2px #ffffff !important;
}


.header {
  background: #bb5d5d;
  clear: both;
  width: 100%;
  height: 80px;
  padding: 6px 0px;
}

.container {
  margin: 0px auto;
}

.logo {
  float: left;
  width: 80px !important;
  height: 80px !important;
  margin-left: 14px;
  margin-top: -1px !important;
}

.css-citawo-MuiButtonBase-root-MuiButton-root {
  font-size: 17px !important;
  margin-top: 37px !important;
}

.css-ue5gqe-MuiStack-root {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.css-um1m20-MuiButtonBase-root-MuiButton-root {
  border: solid 5px #ffffff !important;
  background: radial-gradient(circle, #ffbf00 0%, rgb(255 141 0) 75%, rgb(255 179 0) 100%) !important;
  margin-bottom: 70px !important;
}

.css-um1m20-MuiButtonBase-root-MuiButton-root:hover {
  background: radial-gradient(circle, #ffbf00 0%, rgb(255 141 0) 75%, rgb(255 179 0) 100%) !important;
  color: #fff !important;
}

.css-15qaur2-MuiTypography-root {
  color: #000;
  margin-bottom: 20px !important;
  text-transform: uppercase;
}

.MuiBox-root .css-ahj2mt-MuiTypography-root {
  color: #000;
}

.MuiButton-root {
  border: solid 2px #f0bb44 !important;
  background-color: #f0bb44 !important;
  color: #000 !important;
  margin: 8px;
  border: 2px solid #ffffff !important;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%) !important;
}

.css-2tsctb .MuiButton-root {
  margin-bottom: 50px !important;
}

.MuiTypography-root {
  color: #000;
}



.css-ysh6fe {
  width: 28%;
  background-color: #ffffff !important;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
  padding: 15px 12px !important;
}

.css-1f80fne {
  width: 28%;
  background-color: #ffffff !important;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
  padding: 15px 12px !important;
}

.css-135ev8c {
  border: 0px solid rgb(239, 145, 91) !important;
}



.css-ysh6fe .css-6rynz7 {
  width: 66px;
  height: 66px;
}

.css-eck8fq-MuiStack-root>:not(style)~:not(style) {
  margin-left: 8px !important;
  margin-bottom: 10px !important;
  margin-right: 8px !important;
}

.css-1f80fne {
  background-color: #ffffff !important;
  opacity: 1 !important;
}

.css-eck8fq-MuiStack-root {
  background: #e38c8c;
  padding: 60px 0px 60px;
}

.css-6rynz7 {
  float: left;
}

.css-sm0c8e {
  text-align: left;
  padding-left: 0.5em;
  float: left;
  width: 64% !important;
}

.hedding {
  width: 100%;
  margin-bottom: 20px !important;
  text-transform: uppercase;
  text-shadow: 1px 7px 1px #af6c6c;
  font-size: 37px;
  color: #fff !important;
}

.css-f564t4 {
  margin-top: 0px !important;
}

.css-f564t4 {
  background: #742424 !important;
  height: 35px;
  padding-top: 18px !important;
  padding-bottom: 8px !important;
  color: #ffffff;
  width: 100%;
  overflow-y: hidden;
}

.MuiBox-root .css-ahj2mt-MuiTypography-root {
  margin-top: 19px;
  padding-bottom: 20px;
  display: inline-block;
  line-height: 28px;
  border-top: 1px dashed #ddd;
}

.css-141aqpu {
  margin-left: 0px;
}

.css-76nj34 {
  border: 2px solid #ccc !important;
  width: 26px !important;
  margin-left: 5px !important;
}

.css-141aqpu {
  margin-left: 0px !important;
}

.css-183xeql-MuiButton-root {
  width: 95% !important;
  font-size: 16px !important;
  padding: 5px !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
}

.css-1oqqzyl-MuiContainer-root {
  max-width: inherit !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.css-an7gnq-FooterArea {
  background: #742424;
  height: 35px;
  padding-bottom: 8px;
}

.css-16fnxy3-MuiGrid2-root {
  padding: 0px !important;
}

.contentbox {
  padding: 50px 50px 100px !important;
  background: #bf6060 !important;
}

.box1 {
  width: 47%;
  float: left;
  padding: 30px !important;
  background: #fff;
  margin-right: 10px;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 1px 0px 12px #953f3f;
}

.box1 p {
  color: #505050;
  line-height: 24px;
  text-align: justify;
}

.box1 h1 {
  color: #000;
  margin-bottom: 20px;
  text-align: left;
}

.box1 a {
  color: #bb5d5d;
}

.copyright {
  float: left;
  padding-left: 58px;
  font-family: system-ui !important;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0px !important;
}

.socialicon {
  float: right;
  padding-right: 50px;
}

.css-ue5gqe-MuiStack-root>:not(style)~:not(style) {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.socialicon a {
  margin-right: 5px;
}

.css-161qhmh-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px !important;
}

.css-1n9p01q-MuiGrid2-root {
  max-width: inherit !important;
}

.MuiButtonBase-root {}


.css-ltwa9e-MuiDialogContent-root {
  border: none !important;
  background: #fff !important;
}

.css-ltwa9e-MuiDialogContent-root p {
  font-family: system-ui !important;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px !important;
}

.css-ltwa9e-MuiDialogContent-root h1 {
  font-family: system-ui !important;
  font-size: 28px;
  font-weight: bold;
}


.maindetails {
  width: 100%;
}

.leftbox {
  width: 55%;
  background: #fff;
  margin-bottom: 80px;
  padding: 30px 40px;
  color: #000;
  border-radius: 20px;
  margin: 60px auto;
  text-align: left;
  box-shadow: 1px 1px 8px rgb(195 96 96 / 20%);
}

.detailspagebtn .MuiButton-root {
  margin-top: 20px;
}

.leftbox li {
  list-style: none;
  padding: 6px 0px;
  border-bottom: 1px dashed #ededed;
  font-family: system-ui !important;
  letter-spacing: 0px !important;
  font-weight: 600;
}

.leftbox li span {
  float: right;
  font-family: system-ui !important;
  letter-spacing: 0px !important;
  color: #4e4e4e;
  font-weight: 400;
  line-break: anywhere;
}

.leftbox li span a {
  float: right;
  font-family: system-ui !important;
  letter-spacing: 0px !important;
  color: #4e4e4e;
  font-weight: 400;
}

.detailspagebtn {
  border-bottom: 0px !important;
}

.detailspagebtn a {
  width: 100% !important;
  text-align: center !important;
}

.homelist li {
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #ededed;
  padding: 3px 0px;
  font-weight: 600 !important;
  font-family: system-ui !important;
  letter-spacing: 0px !important;
}

.homelist {
  padding-left: 10px;
  padding-right: 10px;
}

.homelist li span {
  float: right;
  font-family: system-ui !important;
  font-weight: 400;
  color: #161616;
}

.css-5gp6tw-MuiTypography-root {
  font-size: 24px !important;
  letter-spacing: 0px !important;
  line-height: 30px !important;
}

.sharebtn {
  border-bottom: 0px !important;
  float: right;
}

.sharebtn button {
  border-radius: 50px;
  background: #ed743a !important;
  border: none !important;
  color: #fff !important;
  letter-spacing: 0px !important;
  margin-top: 12px;
}

.MuiBox-root {
  top: -15px !important;
}

.css-ysh6fe .MuiButton-root {
  margin-bottom: 5px !important;
}

.MuiInputLabel-root {
  top: 2px !important;
}

.css-1ux12ge-MuiButtonBase-root-MuiButton-root {
  margin-bottom: 50px !important;
}

.css-1hsqu8b-MuiFormControl-root-MuiTextField-root .MuiFilledInput-root {
  background: #fff !important;
  border-radius: 10px;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px 15px !important;
}

.css-18mp6pk-MuiButtonBase-root-MuiIconButton-root {
  padding: 0px !important;
}


#editmainbox {
  padding-top: 10px;
  width: 70% !important;
}

#editmainbox .css-1rg2p2b {
  padding: 0px 8px;
}

#Transactionbox {
  margin-bottom: 80px;
}

#selectbox {
  padding-top: 50px;
}

#selectbox .css-1rg2p2b {
  width: 54% !important;
}

#editmainbox .css-1oz23yp {
  margin: 0px 4px;
}

#Transactionbox {
  text-align: left !important;
}

#Transactionbox .MuiButton-root {
  margin-left: inherit !important;
  text-align: center;
  color: #000 !important;
}

#Transactionbox h6 {
  text-align: left !important;
  font-size: 26px;
}

#Transactionbox a {
  color: #e7680a !important;
  padding-left: 5px;
}

.css-cj2u8-MuiStack-root>:not(style)~:not(style) {
  margin-top: 25px;
}

.css-90glc5 {
  margin-top: 37px !important;
  font-size: 17px !important;
}

.css-uxj1mv {
  margin-top: 0px !important;
}

.css-2tsctb {
  padding-top: 50px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.css-1h8btyt {
  border: none !important;
}

.css-bzh63r {
  border: none !important;
}

.css-1njrtnr {
  border: none !important;
}

.css-15vfxm7 {
  border: none !important;
}

.css-1dagbwe {
  border: none !important;
}

.css-15vfxm7 {
  border: none !important;
}

.css-1wbauj5 {
  border: none !important;
}

.css-igs3ac {
  border-color: #fff !important;
}

.css-1stt5tn {
  background: radial-gradient(circle, #ffbf00 0%, rgb(255 141 0) 75%, rgb(255 179 0) 100%) !important;
  margin-bottom: 70px !important;
  font-size: 1.5em !important;
}

.css-zbq4mc {
  background: #e38c8c !important;
  padding: 60px 0px 80px !important;
}

.css-9l3uo3 {
  margin-top: 0px !important;
  padding-bottom: 0px !important;
  display: inline-block !important;
  line-height: 28px !important;
  border-top: 0px dashed #ddd !important;
}

.css-ysh6fe {
  margin-top: 0px !important;
  border-top: 0px dashed #ddd !important;
}

.css-ysh6fe .css-9l3uo3 {
  margin-top: 12px !important;
  border-top: 1px dashed #ddd !important;
}

.css-14xkk9b {
  left: 23px !important;
  top: 23px !important;
  color: #5c5858 !important;
}

.css-1njrtnr.MuiFormControl-root {
  background-color: #fff !important;
}

.css-bzh63r .MuiFilledInput-root {
  background-color: #fff !important;
  border-radius: 10px !important;
}

.css-2tsctb> :not(style):not(style) {
  border-radius: 10px !important;
  background: #fff;
}

.css-1dagbwe.MuiFormControl-root {
  background-color: #fff !important;
}

.css-bzh63r .MuiFilledInput-root {
  border-radius: 10px !important;
}

.css-1h8btyt .MuiFilledInput-root {
  background: #fff !important;
  border-radius: 10px !important;
}

.css-15vfxm7 .MuiFilledInput-root {
  background: #fff !important;
  border-radius: 10px;
}

.css-zbq4mc>:not(style)~:not(style) {
  margin-right: 0px !important;
  border-radius: 10px;
}

.css-il73ku {
  width: 95% !important;
  font-size: 16px !important;
  padding: 5px !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  margin-top: 10px !important;
}

.css-11thtl3 {
  padding: 0px !important;
}

.css-zbq4mc> :not(style)~ :not(style) {
  margin-left: 8px !important;
  margin-bottom: 10px !important;
  margin-right: 8px !important;
}

.css-1qsxih2 {
  max-width: 100% !important;
}

.socialicon img {
  width: 22px !important;
}

.css-90qt67 {
  font-size: 24px !important;
  letter-spacing: 0px !important;
  line-height: 30px !important;
}

.css-1msxy34 {
  padding: 0px !important;
}

.css-11thtl3 {
  padding: 0px !important;
}

.css-2tsctb {
  padding-top: 16px !important;
}

.css-2tsctb> :not(style):not(style) {
  margin: 0px;
  border-radius: 15px !important;
}

.css-zun73v {
  padding: 0px 9px !important;
  margin-top: 0px !important;
  margin-left: 4px !important;
}

.descriptionbox {
  color: #333;
  padding: 20px;
  line-height: 26px;
  height: 240px;
  overflow-y: scroll;
  width:94%;
  text-align: left;
  background:#fff;
  border-radius:10px;
}

.descriptionbox h2 {
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
  margin-top: 0px;
}

.Instructions {
  width: 100%;
}

.Instructions li {
  list-style: none;
}

.Instructions ul {
  padding-left: 0px;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root:hover {
  background: #fff !important;
}

.css-ue5gqe-MuiStack-root>:not(style)~:not(style) {
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 2px #e7b1b1;
}

.tname {
  background: #fff !important;
}

.css-1n11gbc-MuiFormControlLabel-root {
  margin-top: 0px !important;
  padding: 10px !important;
}

.descriptionbox h2 {
  text-align: left;
  margin-top: 20px;
}

.descriptionbox ul {
  margin-left: -20px;
}

.descriptionbox ol {
  margin-left: -20px;
}

.descriptionbox h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.maindetails .leftbox li {
  list-style: initial !important;
}

.discriptionbox ul {
  margin-left: -21px;
}

.discriptionbox ol {
  margin-left: -21px;
}

.discriptionbox h1 {
  font-size: 24px;
  margin: 13px 0;
}

.clearfix button {
  margin-right: 10px;
}

.clearfix {
  width: 100% !important;
}


.css-1h99r44 {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}


.topheading {
  width: 100% !important;
  margin-bottom: 40px !important;
}

.topheading button {
  margin-right: 5px !important;
  margin-left: 5px !important;
  height: 50px !important;
}

.topheading .hedding {
  font-size: 18px !important;
  margin-bottom: 0px !important;
  text-shadow: 1px 4px 0px #d5a1a1;
}

.descriptiondtl {
  border: 1px solid rgb(225, 107, 49);  /* Adds a solid black border */
  border-radius: 20px;      /* Adds rounded corners (adjust the value) */
  padding: 18px;
}

.descriptiondtl h1 {
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 2px;
}

.edit {
  padding-left: 8px;
  color: #1b8dff !important;
}

.descriptiondtl ul {
  margin-left: -10px;
}

.descriptiondtl ol {
  margin-left: -10px;
}


.Accordionsection{background: #e9b5a4 !important; text-align:center !important; padding-top: 50px !important;padding-left: 40px !important; border-radius: 0px 0px 8px 8px;}
.Accordionsection .input-box{margin-bottom:10px; margin-right:10px; float:left; border:none !important;box-shadow: 1px 2px 2px #d3a4a4 !important;}
.Accordiontitle:before{background:none !important;}
.Accordiontitle{ width:90%;    border-radius: 10px !important;}
.productdes{ border:none !important;}



@media only screen and (max-width: 850px) {
  .Accordiontitle {width: 100% !important;}
  .Accordionsection{padding-left: 18px !important;}
  .Accordionsection .input-box{width: 100% !important;}
  .descriptionbox{width: 90% !important;}
  .css-1oz23yp {
    width: 100% !important;
  }

  .productlogo {
    width: auto !important;
  }

  .css-1hsqu8b-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
    width: 100% !important;
  }
  
  .css-igs3ac {border-width: 0px !important;}

  .css-ymdnc8-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
    width: 100% !important;
  }

  .css-h3eu0c-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
    width: 100% !important;
  }

  .css-gnxslw-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
    width: 100% !important;
  }

  .css-4tsb0m-MuiFormControl-root-MuiTextField-root.MuiFormControl-root {
    width: 100% !important;
  }

  .css-ysh6fe {
    width: 85%;
  }

  .box1 {
    width: 85%;
    margin-bottom: 20px;
    height: auto;
  }

  .leftbox {
    width: 80%;
    padding: 30px 15px !important;
  }

  .css-2tsctb {
    padding-top: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .css-bzh63r {
    border: 0px !important;
    width: 100% !important;
  }

  .css-1njrtnr {
    border: 0px !important;
  }

  .css-1dagbwe {
    border: 0px !important;
  }

  .css-1wbauj5 {
    border: 0px !important;
  }

  .css-135ev8c {
    border: 0px !important;
  }

  .css-2tsctb> :not(style)~ :not(style) {
    width: 100%;
    margin-left: 0px !important;
  }

  .css-zbq4mc> :not(style)~ :not(style) {
    margin-left: 0px !important;
  }

  .css-135ev8c {
    width: 87% !important;
  }

  .css-1h8btyt {
    border: 0px solid rgb(225, 107, 49) !important;
    width: 100% !important;
  }

  .css-15vfxm7 {
    border: 0px solid rgb(225, 107, 49) !important;
    width: 100% !important;
  }

  .leftbox li span,
  .leftbox li span a {
    word-break: break-word !important;
  }

  .contentbox {
    padding: 45px 25px 50px !important;
  }

  .css-f564t4 {
    padding-bottom: 25px !important;
  }

  .socialicon {
    float: inherit !important;
    padding-right: 0px !important;
  }

  .copyright {
    float: initial !important;
    padding-left: 0px !important;
    display: inline-block !important;
    width: 100% !important;
    text-align: center !important;
  }

  #selectbox .css-1rg2p2b {
    width: 78% !important;
  }

  .css-1dagbwe.MuiFormControl-root {
    width: 100% !important;
  }

  #editmainbox {
    width: 86% !important;
  }

  #selectbox .css-p58oka {
    display: inline-grid !important;
  }

  #selectbox .css-9l3uo3 {
    margin-top: 9px !important;
    padding-bottom: 8px !important;
    border-top: 0px dashed #ddd !important;
  }
}